RewriteEngine On
RewriteRule ^spring article.php?idx=1 [NC,L]
RewriteRule ^insurance article.php?idx=16 [NC,L]
RewriteRule ^tickets article.php?idx=34 [NC,L]
RewriteRule ^biski article.php?idx=33 [NC,L]
RewriteRule ^joinus article.php?idx=38 [NC,L]
RewriteRule ^alpen5off alpen.php [NC,L]
RewriteRule ^bkInst/$ - [L]
RewriteRule ^bkAdmin/$ - [L]
RewriteRule ^refer/(.+)?$ refer.php?target=$1 [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/?$ routing.php?target=$1 [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ routing.php?target=$1&section=$2 [NC,L]
